# Dependencias
node_modules/

# Build
dist/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor (VS Code)
.vscode/

# Otros
*.log

# Build cache
.node_modules/
.cache/
.vite/

# Archivos temporales
*.tmp
*.temp