@import "tailwindcss";

@theme {
  --color-navy: #0F0D3E;
  --color-purple: #3F2A8A;
  --color-orange: #F58A07;

  --shadow-soft: 0 12px 40px -20px rgba(19, 28, 92, 0.35);
}

:root {
  font-family: 'Inter', 'Segoe UI', Roboto, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #1e293b; /* slate-800 */
  background-color: #f8fafc; /* slate-50 */
}