@import "tailwindcss";

:root {
  font-family: 'Inter', 'Segoe UI', Roboto, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #1e293b; /* slate-800 */
  background-color: #f8fafc; /* slate-50 */
}